configuration {
    /* Modos ativos (a ordem define a navegação com Ctrl+Tab) */
    modi: "drun,run,window,ssh";

    show-icons: true;
    icon-theme: "Papirus";
    disable-history: false;
    sidebar-mode: false;

    matching: "fuzzy";
    sort: true;
    sort-ci: true;
    case-sensitive: false;

    font: "Inter 13";
}

@theme "current.rasi"
